@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Edit";
}
@using lastVersionAuthe.Models.ManualViewModels
@model EditManualViewModel

<h2>Edit</h2>


<h2>@Localizer["Сreate"]</h2>

<form method="post" asp-action="Edit" asp-controller="Manual">
    <div class="form-group">
        <label for="Title">@Localizer["Title"]</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-ticket"></i></span>
            <input type="text" readonly="" class="form-control form-control-plaintext" id="Title" placeholder="@Localizer["Title"]" asp-for="Title">
        </div>

        <small id="titleHelp" class="form-text text-muted">@Localizer["TitleDescription"]</small>
        <span asp-validation-for="Title" class="text-danger"></span>

    </div>

    <label for="Tags">@Localizer["Tags"]</label>
    <div class="">
        <input class="form-control" asp-for="Tags" type="text" id="input-tags" />
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="themes">@Localizer["SelectThemes"]</label>
        @* TODO asp-items refactor *@
        <select class="form-control" asp-for="Themes" id="themes">
            <option>Vue.js</option>
            <option>ASP.NET CORE</option>
            <option>JVW</option>
            <option>Order</option>
        </select>
        <span asp-validation-for="Themes" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleTextarea">@Localizer["ExampleTextarea"]</label>
        <textarea class="form-control" asp-for="ShortDescription" id="exampleTextarea" rows="5"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label for="Content">@Localizer["Content"]</label>
        <textarea asp-for="Content" rows="15" id="content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">@Localizer["Submit"]</button>

</form>

@section Scripts
    {

    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/lib/tinymce/plugins/media/plugin.js"></script>
    <script src="~/js/Edit.js"></script>
    <script src="~/lib/typeahead.js/dist/bloodhound.min.js"></script>
    <script src="~/lib/typeahead.js/dist/typeahead.jquery.min.js"></script>
    <script src="~/lib/Bootstrap-4-Tag-Input-Plugin-jQuery/tagsinput.js"></script>
}

