@using lastVersionAuthe.Models.ManualViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index Manual";
}

@model IQueryable<Manual>
@inject UserManager<ApplicationUser> UserManager


@section Css{
    <link href="~/css/IndexManual.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <div class="small-logo">
                    @await Html.PartialAsync("_AccountSmall")
                </div>
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">@Localizer["Overview"]<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Localizer["Reports"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Localizer["Analytics"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Localizer["Export"]</a>
                </li>
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">@Localizer["Other"]</a>
                </li>
            </ul>
        </nav>



        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 test">
            <h1>@Localizer["Dashboard"]</h1>

            <section class="row text-center placeholders">
                <div class="col-12 col-sm-4 placeholder">
                    <canvas id="myChartTwo" width="200" height="200"></canvas>
                    <h4>@Localizer["statisticLike"]</h4>
                    <span class="text-muted">@Localizer["statisticLikeSpan"]</span>
                </div>
                <div class="col-6 col-sm-4 placeholder">
                    <canvas id="myChart" width="200" height="200"></canvas>
                    <h4>@Localizer["statisticRep"]</h4>
                    <div class="text-muted">@Localizer["statisticRepSpan"]</div>
                </div>
                <div class="col-6 col-sm-4 placeholder">
                    <canvas id="myChartRadar" width="200" height="200"></canvas>
                    <h4>@Localizer["statisticNext"]</h4>
                    <div class="text-muted">@Localizer["statisticNextSpan"]</div>
                </div>
            </section>
            <hr />
            <a class="btn btn-block btn-success btn-lg" asp-action="Create" asp-controller="Manual"><i class="fa fa-database"></i>@Localizer["Create"]</a>
            <a class="btn btn-block btn-dark btn-lg" asp-action="Remove" asp-controller="Manual"><i class="fa fa-remove"></i>@Localizer["Remove"]</a>
            <h2>@Localizer["Manuals"]</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><a asp-action="Index" asp-route-sortState="@ViewBag.TitleSort">@Localizer["Title"]</a></th>
                            <th>@Localizer["Tags"]</th>
                            <th><a asp-action="Index" asp-route-sortState="@ViewBag.RatingSort">@Localizer["Rating"]</a></th>
                            <th><a asp-action="Index" asp-route-sortState="@ViewBag.LikeSort">@Localizer["AmountLikes"]</a></th>
                            <th>@Localizer["ShortDescription"]</th>
                            <th>@Localizer["Settings"]</th>
                        </tr>
                    </thead>
                    <tbody>
                     @if (Model != null)
                     {

                         foreach (var item in Model)
                         {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Tags</td>
                                <td>@item.Rating</td>
                                <td>@item.AmountLike</td>
                                <td>@item.ShortDescription</td>
                                <td>
                                   <div class="container board-settings">
                                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                                <a  class="btn btn-secondary" asp-action="Edit" asp-controller="Manual" asp-route-title="@item.Title" asp-route-userCreator="@item.UserCreator">@Localizer["Edit"]</a>
                                                <a  class="btn btn-secondary" asp-action="Statistics" asp-controller="Manual" asp-route-title="@item.Title" asp-route-userCreator="@item.UserCreator">@Localizer["Statistics"]</a>
                                                <a  class="btn btn-secondary" asp-action="Manual" asp-controller="Manual" asp-route-title="@item.Title" asp-route-userCreator="@item.UserCreator">@Localizer["View"]</a>
                                            </div>
                                        </div>
                                    
                                </td>
                            </tr>
                         }
                      }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


@section Scripts{
    <script src="~/lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/js/Manual.js"></script>

}